body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 420px;
}

#sidebar {
  float: right;
  width: 0px;
  hidden: 1;
}

#togglelegend {
  width: 0px;
  hidden: 1;
}

#sliders {
  float: right;
  width: 450px;
}

#sequence {
  width: 400px;
  height: 30px;
}

#legend {
  padding: 10px 0 0 3px;
  hidden: 1;
}

#sequence text, #legend text, #sliders text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: relative;
  top: 240px;
  left: 185px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#rangebox {
	table-layout: fixed;
	top: 235px;
	left: 205px;
    margin-right: 10px;
	/*width: 300px;*/
	border-collapse: collapse;
}
#rangebox td.edit {
	border-collapse: collapse;
}
/*
#rangebox td.edit {
    width: 10%;
}
#rangebox td.range_value {
    text-align: center;
    /*width: 10%;
}
#rangebox td.lockCheckbox {
    width: 10%;
}
#rangebox td.range {
    width: 100  %;
}

#rangebox input range {
    width: 100%;
    cursor: pointer;
}


#rangebox td.edit:hover, #rangebox td.edit:focus {
	background-color: LemonChiffon;
}
*/