;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; STRICTLY ALGORITHM RELATED PARAMETRS
;
; !!! BEAWARE AND READ CAREFULLY
;
; The algorthm does not use .ini file format properly so can't be used the same
; keyword used byt the algorithm.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[General.InputFileDefinition]
; parameters only used directly by the algorithm 
FleetDistribution = ./v_fleet_distribution.txt  ; distribution by fuel type and vehicle classes (age, technology)
TrafficVolume = ./v_traffic.txt                 ; traffic count data base
Formulas = ./newfuel_formulas.txt               ; formulas for an alternative fuel

[Processing.OutputFileDefinition]
Emissions = ./output.txt       ; Emission and Fuel/Energy consumption Output file

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PARAMETRS RELATED TO BOT GUI AND ALGORITHM
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[Processing.Parameters]
maximum_type = 1  ; maximum types of fleet distribution introduced by the user

; 1/true 0/false
;;;;;;; Fuel (g/km) and Energy (MJ/km) consumption
Gasoline_Consumption=0
Diesel_Consumption=0
LPG_Consumption=0
NewFuel_Consumption=0
Fuel_Consumption_Total=1
Energy_Consumption=0
;;;;;;; Emissions
; Ozone precursors 
CO=1
NOx=1
NMVOC=1
; Greenhouse gases
CO2=1
CH4=0
N2O=0
; Acidifying substances
NH3=0
SO2=1
; Particulate Matter
PM=1
; Carcinogenic species
C6H6=0

[FuelProperties.Gasoline]
Sulphur_contents_in_gasoline = 165 ; in ppm

[FuelProperties.Diesel]
Sulphur_contents_in_diesel = 400    ; in ppm

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; STRICTLY GUI RELATED SECTIONS
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[InputNetwork]
inputLayer=
columnRoadType=
columnRoadLenght=
columnRoadSlope=

[VehicleCountSpeed]
columnPassengerCars=
columnLightDutyVehicle=
columnHeavyDutyVechicle=
columnUrbanBuses=
columnMotorcycle=
columnCouch=
columnAverageSpeed=

[FleetComposition]
fleetComposition=FleetDistribution.json

[Processing.OutputFileDefinition]
addToInputLayer=False
newOutputLayer=

[FuelProperties]
FormulasConfig = ./NewFuelFormulas.json

[Processing]
;Executable=
